@model Movies.Web.Models.Movies.SearchResults
@{
    ViewData["Title"] = "Movies List";
}
<script type=\"application/ld+json\">
    @Html.Raw(ViewBag.JsonLd)
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.css" />

@using (Html.BeginForm("Search", "Movies", null, FormMethod.Post))
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Search Options
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">

                            @Html.TextBoxFor(model => model.Title, new { id = "movieTitle", maxlength = "150" })
                            <label class="control-label col-sm-1">Title:</label>

                            @Html.TextBoxFor(Model => Model.Year, new { name = "year", id = "year", maxlength = "4" })
                            <label class="control-label col-sm-1">Year:</label>
                            <button type="submit" id="SearchButton" class="btn btn-success control-label col-sm-1">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<section class="movies" id="movies">
    <h2>Featured Movies</h2>
    <div class="row">
        @foreach (var movie in Model.Results)
        {
            <partial name="MovieResult" model="movie" />
        }
    </div>
</section>